article.projects-list {
		
		width: $full-width/1.3;
		height: auto;

		padding: 1%;

		position: absolute;

		left: 11%;
		top: $nav-height;
		
		color: $text;
		background-color: $bkg;

		border: 1px solid #000;
		

       header {
       		margin: auto;
       	 text-align: center;
       }

       section {
       	

		div.project-container {
				border: 1px dashed #000;

				div.project-image {
					text-align: center;
				}

				section.projects-option{
					 ul{
						list-style-type: none;
						text-align: center;
						padding: 0;
						li {
							display: inline;
							text-align: center;
						}
					}
				}

		}

       }
}
