.container {
	width: $full-width;
	height: $full-height;

	position: relative;

	margin: 0 auto;

	background-color: $base-color;

	article.projects-list {
		
		width: $full-width/1.3;
		height: $projects-list-height;

		position: absolute;

		left: 11%;
		top: $nav-height;
		
		color: $text;
		background-color: $bkg;

	}
}

